* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border : none;
    background-color: transparent;
    cursor: pointer;
}

input {
    border-radius: 20px;
    border: none;
}

header, nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 100%;
}